/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Playfair+Display:wght@400;500;600;700;800&family=Tinos:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Definition of global values used throughout the project */

/* Reset du CSS */
html,
body,
.app {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

body {
    @apply font-tinos;
}

h1 {
    @apply font-playfair font-bold text-4xl m-auto text-center;
}

h2,
h3,
h4,
h5,
h6 {
    @apply font-montserrat;
}

h2 {
    @apply text-2xl mx-auto my-4 py-3 text-center uppercase;
}

h3 {
    @apply text-xl mx-auto my-4 py-3 text-center;
}

p,
span {
    @apply font-tinos;
    font-size: 16px;
}

button {
    @apply bg-white px-10 py-2 border-2 mx-auto font-bold;
}

input {
    @apply input input-bordered w-full max-w-xs rounded-none p-4
}

/* Override DaisyUI style for form */
.label-text,
option {
    font-size: 1rem;
}
