/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Playfair+Display:wght@400;500;600;700;800&family=Tinos:wght@400;700&display=swap');

/* Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Definition of global values used throughout the project */
html,
body,
.app {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    @apply font-playfair font-bold text-4xl m-auto text-center;
}

h2,
h3,
h4,
h5,
h6 {
    @apply font-montserrat;
}

h2 {
    @apply text-2xl mx-auto my-4 py-3 text-center;
}

h3 {
    @apply text-xl mx-auto my-4 py-3 text-center;
}

p{
    @apply font-tinos;
}

button {
    @apply bg-white mt-8 px-4 py-2 border-2;
}
